# **VERİ DÜZENLEME ARACI (DPLYR) TEKRAR (FARKLI KAYNAK)**

Veri düzenlemede en sık kullanılan paketlerden biri olan dplyr paketi, içerdiği fonksiyonlar sayesinde veri düzenleme, sıralama, filtreleme, değişkenleri gruplama, yeni değişkenler oluşturma, seçme ve dönüştürme gibi işlemleri kolaylıkla yapabilmektedir. tidyverse evreninin bir parçası ve sözlük anlamı veri işleme grameri olan bu paket, veri düzenleme ve analizi sürecini oldukça kolaylaştırmaktadır. Veri manipülasyonunun grameri olarak bilinen paketin içerdiği fonksiyonlar, düzgün veri manipülasyonuna olanak tanımaktadır.

Paketin en sık kullanılan fonksiyonları; işlemleri bağlayan bağlama (pipe) %>%, istenilen değişkenlere göre yeni bir veri seti oluşturan select(), gözlemlerin seçilen degişkenlere göre yeniden sıralamaya yarayan arrange(), istenilen gözlemlerle yeni bir veri oluşturan filter(), yeni değişkenleri veri setine ekleyen mutate(), veride grup bazında işlem yapabilen group_by(), veriden özet istatistikleri elde eden summarise() ve verileri birleştirme işlemi yapabilen join() fonsiyonlarıdır. Veri düzenleme I bölümünde select(), filter(), arrange() ve mutate(), veri düzenleme II bölümünde veriyi üst düzeyde toplama işlemlerini gerçekleştiren count(), group_by() ve summarise() fonksiyonları, veri düzenleme III bölümünde birleştirme işlemleri yapan join() fonksiyonları açıklanmıştır. Veri düzenleme IV bölümünde ise veriyi R ortamına aktardıktan sonra verinin analize uygun formata getirilmesine ve tidyr paketi ile birlikte en sık kullanılan fonksiyonlara değinilmiştir.

Veri düzenlemede genellikle birden fazla değişkene ilişkin gözlemlerin yer aldığı veri setleri kullanılır. Pratiklik ve kolay anlaşılabilirlik adına PISA veri setinden değişken sayısının azaltılmasıyla oluşturulan midiPISA veri seti okutulmuş ve gerekli düzenlemeler yapılmıştır.

In [13]:
#Çalışacağımız Veri Setini İnternetten Çekiyoruz.
devtools::install_github("tuevpaket/tuev")
library("tuev")
data(PISA_COG_2018)
data(PISA_SCH_2018)
data(PISA_OGR_2018)

Skipping install of 'tuev' from a github remote, the SHA1 (92c1d67f) has not changed since last install.
  Use `force = TRUE` to force installation

Veri düzenlemede genellikle birden fazla değişkene ilişkin gözlemlerin yer aldığı veri setleri kullanılır. Pratiklik ve kolay anlaşılabilirlik adına PISA veri setinden değişken sayısının azaltılmasıyla oluşturulan midiPISA veri seti okutulmuş ve gerekli düzenlemeler yapılmıştır.

tidyverse paketi aktif hâle getirildikten sonra oluşturulan data dosyasından midiPISA verisi yüklenir. PISA verileri OECD web adresinden SPSS formatında çekildiği için değişken etiketleri(label) ile birlikte gelmektedir. Bu etiket isimleri bazen R paketlerindeki fonksiyonlar ile birlikte çalışmamaktadır. Bu nedenle expss::drop_var_labs bu etiketlerin kaldırılmasını sağlar ve midiPISA veri seti üzerine kaydedilir.

Bir diğer alternatif ise değişken etiketlerini faktör düzeyi olarak kaydetmektir. Bu işlem aşağıdaki kodlarla sağlanabilir.

In [37]:
#midiPISA veri setimizi oluşturuyoruz
library(dplyr)
library(magrittr)
midiPISA <- PISA_OGR_2018 %>%
  select(OGRENCIID,SINIF,CINSIYET,
         Anne_Egitim,Baba_Egitim,OKUMA_ZEVK,
         ST097Q01TA:ST097Q05TA,ODOKUMA1:ODOKUMA5)

In [38]:
#miniPISA veri setini oluşturuyoruz.
library(dplyr)
library(magrittr)
miniPISA <- PISA_OGR_2018 %>%
  select(SINIF, CINSIYET, KITAPSAYISI, SES,
    Anne_Egitim,Baba_Egitim,OKUMA_ZEVK,OK_YETERLIK,
    Okuloncesi_yil, OKUL_TUR,ODOKUMA1)

In [ ]:
#midiPISA

In [43]:
#str(midiPISA)

tibble [6,890 × 16] (S3: tbl_df/tbl/data.frame)
 $ OGRENCIID  : num [1:6890] 79200768 79201064 79201118 79201275 79201481 ...
  ..- attr(*, "label")= chr "OGRENCIID"
  ..- attr(*, "format.spss")= chr "F8.0"
  ..- attr(*, "display_width")= int 10
 $ SINIF      : hvn_lbll [1:6890] 10, 10, 10,  9,  9, 10, 10, 10, 10, 10, 10, 11,  9, ...
   ..@ labels: Named num [1:7] 7 8 9 10 11 12 13
   .. ..- attr(*, "names")= chr [1:7] "SINIF 7" "SINIF 8" "SINIF 9" "SINIF 10" ...
   ..@ label : chr "Ogrenci Sinif Duzeyi"
 $ CINSIYET   : hvn_lbll [1:6890] 2, 2, 1, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 2, 2, 2, 1...
   ..@ labels: Named num [1:2] 1 2
   .. ..- attr(*, "names")= chr [1:2] "Kiz" "Erkek"
   ..@ label : chr "Ogrenci (Standart) Cinsiyet"
 $ Anne_Egitim: hvn_lbll [1:6890] 2, 2, 1, 6, 4, 4, 5, 5, 1, 0, 1, 6, 4, 4, 2, 4, 2, 5...
   ..@ labels: Named num [1:7] 0 1 2 3 4 5 6
   .. ..- attr(*, "names")= chr [1:7] "Okul oncesi" "Ilkokul" "Ortaokul" "Lise" ...
   ..@ label : chr "Anne Egitim_ISCED"
 $ Baba_Egitim: hvn_lbll [1:6890] 2, 2, 2, 6, 4, 6, 5, 5, 4, 2, 5, 6, 4, 1, 4, 5, 4, 5...
   ..@ labels: Named num [1:7] 0 1 2 3 4 5 6
   .. ..- attr(*, "names")= chr [1:7] "Okul oncesi" "Ilkokul" "Ortaokul" "Lise" ...
   ..@ label : chr "Baba Egitim _ISCED"
 $ OKUMA_ZEVK : num [1:6890] -0.289 0.604 0.638 -1.154 0.667 ...
  ..- attr(*, "label")= chr "Okumaya karsi duyulan zevk"
  ..- attr(*, "format.spss")= chr "F7.4"
  ..- attr(*, "display_width")= int 9
 $ ST097Q01TA : hvn_lbll [1:6890] 1, 3, 2, 2, 3, 3, 3, 3, 3, 3, 4, 1, 1, 2, 4, 2, 3, 3...
   ..@ labels: Named num [1:4] 1 2 3 4
   .. ..- attr(*, "names")= chr [1:4] "Her ders" "Derslerin cogunda" "cogunlukla test dili" "Bazi derslerde"
   ..@ label : chr "ogrenciler ogretmenin soylediklerini dinlemezler."
 $ ST097Q02TA : hvn_lbll [1:6890]  2,  2,  3,  2,  3,  3, NA,  3,  4,  4,  4,  2,  1, ...
   ..@ labels: Named num [1:4] 1 2 3 4
   .. ..- attr(*, "names")= chr [1:4] "Her ders" "Derslerin cogunda" "cogunlukla test dili" "Bazi derslerde"
   ..@ label : chr "Gurultu ve duzensizlik vardir."
 $ ST097Q03TA : hvn_lbll [1:6890] 1, 3, 3, 3, 4, 2, 3, 2, 3, 2, 3, 1, 1, 3, 4, 4, 3, 3...
   ..@ labels: Named num [1:4] 1 2 3 4
   .. ..- attr(*, "names")= chr [1:4] "Her ders" "Derslerin cogunda" "cogunlukla test dili" "Bazi derslerde"
   ..@ label : chr "ogretmen ogrencilerin susmasi icin uzun sure bekler."
 $ ST097Q04TA : hvn_lbll [1:6890] 1, 3, 3, 1, 3, 2, 3, 1, 4, 1, 4, 2, 1, 2, 3, 3, 2, 3...
   ..@ labels: Named num [1:4] 1 2 3 4
   .. ..- attr(*, "names")= chr [1:4] "Her ders" "Derslerin cogunda" "cogunlukla test dili" "Bazi derslerde"
   ..@ label : chr "ogrenciler derse iyi odaklanamiyorlar."
 $ ST097Q05TA : hvn_lbll [1:6890] 1, 3, 3, 1, 1, 3, 4, 2, 3, 1, 4, 2, 1, 3, 3, 3, 1, 3...
   ..@ labels: Named num [1:4] 1 2 3 4
   .. ..- attr(*, "names")= chr [1:4] "Her ders" "Derslerin cogunda" "cogunlukla test dili" "Bazi derslerde"
   ..@ label : chr "ogrenciler, ders basladiktan sonra, uzun bir sure derse dikkatlerini vermiyorlar."
 $ ODOKUMA1   : num [1:6890] 376 512 396 393 552 ...
  ..- attr(*, "label")= chr "Odokuma 1"
  ..- attr(*, "format.spss")= chr "F8.3"
  ..- attr(*, "display_width")= int 9
 $ ODOKUMA2   : num [1:6890] 418 473 414 429 570 ...
  ..- attr(*, "label")= chr "Odokuma 2"
  ..- attr(*, "format.spss")= chr "F8.3"
  ..- attr(*, "display_width")= int 9
 $ ODOKUMA3   : num [1:6890] 421 564 423 365 563 ...
  ..- attr(*, "label")= chr "Odokuma 3"
  ..- attr(*, "format.spss")= chr "F8.3"
  ..- attr(*, "display_width")= int 9
 $ ODOKUMA4   : num [1:6890] 414 485 452 383 531 ...
  ..- attr(*, "label")= chr "Odokuma 4"
  ..- attr(*, "format.spss")= chr "F8.3"
  ..- attr(*, "display_width")= int 9
 $ ODOKUMA5   : num [1:6890] 434 500 392 379 532 ...
  ..- attr(*, "label")= chr "Odokuma 5"
  ..- attr(*, "format.spss")= chr "F8.3"
  ..- attr(*, "display_width")= int 9

**SPSS veya SAS'tan gelen verilerde sütunlar genellikle bir zırh ile kaplıdır. unclass() bu zırhı çıkarıp R'ın altındaki ham veriyi görmesini sağlar.

Veri Setinin Tamamını "Normal" R Formatına Çevirmek
Eğer her seferinde unclass() veya zap_labels() yazmak istemiyorsanız, analizinizin en başında veri setindeki tüm özel etiketleri temizleyip standart R veri tiplerine (sayı veya faktör) dönüştürebilirsiniz.**

İlk başta verdi R hata verdi bu hatayı böyle çözdüm.

In [62]:
# Tüm veri setindeki etiketleri kaldırıp sayıya çevirmek için:
library(haven)
midiPISA <- zap_labels(midiPISA)

Bu kod bloğu, midiPISA veri setiniz üzerinde zincirleme işlemler gerçekleştirmek için boru (%>%) operatörünü kullanır:

`midiPISA:` İşlemlerin başlangıç noktası olan veri setiniz.
`%>%: `Bu operatör, solundaki ifadenin sonucunu sağındaki fonksiyonun ilk argümanı olarak geçirir.
`filter(unclass(SINIF) == 9)`: Bu adım kritik öneme sahiptir. SINIF değişkeni haven_labelled (etiketli) bir veri tipidir. `unclass(SINIF)` fonksiyonu, bu etiketli veri tipinin altında yatan sayısal değerleri ortaya çıkarır, yani `SINIF` değişkenini normal bir sayısal vektöre dönüştürür. Ardından, bu sayısal değerler 9 ile karşılaştırılır ve yalnızca `SINIF` değeri 9 olan satırlar filtrelenir (seçilir).
`head(5):` Son olarak, filtrelenmiş veri setinin ilk 5 satırını görüntülenmesini sağlar. Bu, genellikle veri setinin yapısını ve içeriğini hızlıca incelemek için kullanılır.

# **pipe (%>%)**

%>% simgesiyle ifade edilen pipe (bağlantı) operatörü, aynı veri tabanında yer alan bazı fonksiyonların birlikte tek bir kod hâlinde kullanılmasını sağlamaktadır. Bu durum fazla yazma yükünü ortadan kaldırarak kodu okunabilir kılmaktadır. Böylece veri daha pratik ve anlaşılır hâle gelerek kullanışlılığı artmaktadır. Aslında dplyr paketindeki tüm fonksiyonlar, daha az değişken oluşturmak amacıyla pipe operatörü (%>%) ile kullanılabilir.

%>% operatörü veri düzenleme işlemlerinde her zaman kullanışlı olduğundan sık tercih edilen bir operatördür. Kısa yolu windows için Ctrl+Shift+M, mac için Cmd+Shift+M’dir. Bu operatör magrittr paketinde yer aldığı için pipe operatörü kullanılırken paketin aktifliği kontrol edilmelidir.

%>% solundaki nesneye sağındaki fonksiyonu uygular. Yani pipe operatörünün solundaki öğeler, sağındaki fonksiyonun ilk argümanına iletilir. Fonksiyon ilk argümanı olan veriyi, pipe operatörünün solundan alır, kalan argümanlar fonksiyonun sağındadır.

In [34]:
library(dplyr) # paketin aktifleştirilmesi
library(magrittr) # paketin aktifleştirilmesi
#x %>% f(y) = f(x, y)

In [66]:
midiPISA %>% # veriyi çağırdık
  filter(SINIF == 9) %>% #9. sınıfları filtreledik
  head(5) #ilk 5 tanesini yazdırdık

  OGRENCIID SINIF CINSIYET Anne_Egitim Baba_Egitim OKUMA_ZEVK ST097Q01TA
1 79201275  9     2        6           6           -1.1538    2
2 79201481  9     2        4           4            0.6669    3
3 79202354  9     2        4           4           -1.1285    1
4 79202395  9     2        2           4            1.0123    4
5 79203125  9     1        5           5            1.3752    3
  ST097Q02TA ST097Q03TA ST097Q04TA ST097Q05TA ODOKUMA1 ODOKUMA2 ODOKUMA3
1 2          3          1          1          393.006  428.757  364.850
2 3          4          3          1          552.457  570.109  562.955
3 1          1          1          1          455.955  551.819  492.381
4 3          4          3          3          461.661  532.696  467.035
5 4          3          3          3          418.412  444.452  454.775
  ODOKUMA4 ODOKUMA5
1 382.522  378.563
2 530.835  532.487
3 507.685  510.787
4 523.916  510.146
5 415.859  412.982

In [67]:
#Farklı bir syntax ile aynı kodun yazılımı
midiPISA |>
  filter(SINIF == 9) |>
  head(5)

  OGRENCIID SINIF CINSIYET Anne_Egitim Baba_Egitim OKUMA_ZEVK ST097Q01TA
1 79201275  9     2        6           6           -1.1538    2
2 79201481  9     2        4           4            0.6669    3
3 79202354  9     2        4           4           -1.1285    1
4 79202395  9     2        2           4            1.0123    4
5 79203125  9     1        5           5            1.3752    3
  ST097Q02TA ST097Q03TA ST097Q04TA ST097Q05TA ODOKUMA1 ODOKUMA2 ODOKUMA3
1 2          3          1          1          393.006  428.757  364.850
2 3          4          3          1          552.457  570.109  562.955
3 1          1          1          1          455.955  551.819  492.381
4 3          4          3          3          461.661  532.696  467.035
5 4          3          3          3          418.412  444.452  454.775
  ODOKUMA4 ODOKUMA5
1 382.522  378.563
2 530.835  532.487
3 507.685  510.787
4 523.916  510.146
5 415.859  412.982

# **filter()**

Satır bazında veri seçim işlemi yapmak amacıyla filter() fonksiyonu kullanılır. Böylece veri setindeki istenilen değişkenler filtrelenerek sadece bu gözlemlerden oluşan yeni bir veri seti elde edilir.

filter() fonksiyonu kullanımı;

filter(veri_seti, kosul ve/veya kosullar)

Buradaki filtreleme işlemi tek bir fonsiyon içinde ifade edildiği gibi pipe operatörü ile de kullanılabilir.

filter() fonksiyonunun pipe ile kullanımı;

veri_seti %>% filter(kosul ve/veya kosullar)

In [70]:
kiz <- filter(midiPISA, CINSIYET ==1) %>% # CINSIYETe göre filtreleme
  head(5) #ilk beş satırın görüntülenmesi
kiz

  OGRENCIID SINIF CINSIYET Anne_Egitim Baba_Egitim OKUMA_ZEVK ST097Q01TA
1 79201118  10    1        1           2            0.6380    2
2 79201652  10    1        5           5           -0.0886    3
3 79202179  10    1        1           4            1.2152    3
4 79202313  10    1        1           5            1.5806    4
5 79202360  10    1        4           1            1.5998    2
  ST097Q02TA ST097Q03TA ST097Q04TA ST097Q05TA ODOKUMA1 ODOKUMA2 ODOKUMA3
1  3         3          3          3          396.383  413.859  423.121
2 NA         3          3          4          410.648  421.972  425.566
3  4         3          4          3          541.674  533.529  500.624
4  4         3          4          4          321.951  312.370  329.122
5  2         3          2          3          454.225  441.445  441.710
  ODOKUMA4 ODOKUMA5
1 452.124  392.434
2 384.666  461.496
3 522.902  496.677
4 331.976  340.660
5 474.351  412.756

In [71]:
midiPISA %>%
  filter(Anne_Egitim==6) %>%
  head(5)

  OGRENCIID SINIF CINSIYET Anne_Egitim Baba_Egitim OKUMA_ZEVK ST097Q01TA
1 79201275   9    2        6           6           -1.1538    2
2 79202343  11    2        6           6           -0.1119    1
3 79203553  10    1        6           5            1.1914    4
4 79204714  10    2        6           4            0.3379    3
5 79200971  10    2        6           5           -0.1672    3
  ST097Q02TA ST097Q03TA ST097Q04TA ST097Q05TA ODOKUMA1 ODOKUMA2 ODOKUMA3
1 2          3          1          1          393.006  428.757  364.850
2 2          1          2          2          319.453  333.203  345.495
3 4          3          2          2          518.787  519.112  502.570
4 4          4          3          4          335.574  416.818  344.729
5 2          2          2          2          443.971  427.072  412.744
  ODOKUMA4 ODOKUMA5
1 382.522  378.563
2 339.966  346.631
3 460.873  493.765
4 350.298  354.592
5 420.562  439.519

Çıktıda anne eğitim düzeyi sadece lisansüstü(6) olan öğrencilere ait verilerin ilk beş satırı görüntülenmektedir.

In [72]:
midiPISA %>%
  filter(Anne_Egitim==6 & Baba_Egitim==6) %>%
  head(5)

  OGRENCIID SINIF CINSIYET Anne_Egitim Baba_Egitim OKUMA_ZEVK ST097Q01TA
1 79201275   9    2        6           6           -1.1538    2
2 79202343  11    2        6           6           -0.1119    1
3 79201796  10    2        6           6            0.8418    4
4 79202928  10    2        6           6           -0.1119    4
5 79200826  10    1        6           6            2.6131    3
  ST097Q02TA ST097Q03TA ST097Q04TA ST097Q05TA ODOKUMA1 ODOKUMA2 ODOKUMA3
1 2          3          1          1          393.006  428.757  364.850
2 2          1          2          2          319.453  333.203  345.495
3 3          3          4          3          426.008  435.133  453.348
4 4          4          4          4          337.750  374.678  343.616
5 3          2          3          3          748.371  660.873  649.216
  ODOKUMA4 ODOKUMA5
1 382.522  378.563
2 339.966  346.631
3 422.474  455.716
4 319.301  318.048
5 703.899  683.961

In [73]:
midiPISA %>%
  filter(Anne_Egitim==6 | Baba_Egitim==6) %>%
  head(5)

  OGRENCIID SINIF CINSIYET Anne_Egitim Baba_Egitim OKUMA_ZEVK ST097Q01TA
1 79201275   9    2        6           6           -1.1538    2
2 79201556  10    2        4           6            0.3568    3
3 79202343  11    2        6           6           -0.1119    1
4 79203553  10    1        6           5            1.1914    4
5 79203843  10    2        5           6            0.7796    4
  ST097Q02TA ST097Q03TA ST097Q04TA ST097Q05TA ODOKUMA1 ODOKUMA2 ODOKUMA3
1 2          3          1          1          393.006  428.757  364.850
2 3          2          2          3          441.286  415.682  406.586
3 2          1          2          2          319.453  333.203  345.495
4 4          3          2          2          518.787  519.112  502.570
5 4          4          4          4          534.059  524.908  472.845
  ODOKUMA4 ODOKUMA5
1 382.522  378.563
2 437.001  473.036
3 339.966  346.631
4 460.873  493.765
5 489.941  447.587

Anne eğitim düzeyi veya baba eğitim düzeyi lisansüstü olan öğrencilerin seçilmesi;

# **select()**

Veri setinden sütun bazında seçim yapmak için select() fonksiyonu kullanılabilir. Bu fonksiyonun kullanımı;

select(veri_seti, degisken_adi, degisken_adi,..)
select() fonksiyonu dplyr içindeki diğer fonksiyonlarla da sıklıkla kullanılır. Örneğin pipe operatörü ile kullanımı;

veri_seti %>% select(degisken_adi, degisken_adi,..)
midiPISA veri seti ile select() fonksiyonunu kullanarak yeni bir veri seti oluşturalım.

In [74]:
library(tidyverse)
midiPISA %>%
  select(OGRENCIID,ST097Q01TA,ST097Q04TA,OKUMA_ZEVK)%>%
head(5)

  OGRENCIID ST097Q01TA ST097Q04TA OKUMA_ZEVK
1 79200768  1          1          -0.2891
2 79201064  3          3           0.6040
3 79201118  2          3           0.6380
4 79201275  2          1          -1.1538
5 79201481  3          3           0.6669

Görüldüğü üzere dört değişkenden oluşan yeni bir veri seti oluşturulmuştur.select() fonksiyonu, orijinal veri setinde herhangi bir değişikliğe yol açmaz. Bu nedenle seçim yapılan değişkenlerden oluşan yeni veri setini ayrı bir R nesnesine atayarak kaydetmek gereklidir.

Bazen özellikle büyük veri setleri ile çalışıldığında, değişkenlerin tek tek isimlerini yazarak seçmek oldukça vakit alabilir. O nedenle select() fonksiyonu ile belirli bir aralıkta yer alan değişkenler iki nokta : operatörü ile seçilebilirken, bu aralıkta dâhil edilmek istenmeyen değişkenler kısa çizgi - operatörü ile ifade edilebilir.

In [76]:
midiPISA %>%
  select(OGRENCIID:ST097Q04TA,-CINSIYET) %>% # sütun bazında değişken ekleme ve çıkarma
head(5) #ilk beş satırın görüntülenmesi

  OGRENCIID SINIF Anne_Egitim Baba_Egitim OKUMA_ZEVK ST097Q01TA ST097Q02TA
1 79200768  10    2           2           -0.2891    1          2
2 79201064  10    2           2            0.6040    3          2
3 79201118  10    1           2            0.6380    2          3
4 79201275   9    6           6           -1.1538    2          2
5 79201481   9    4           4            0.6669    3          3
  ST097Q03TA ST097Q04TA
1 1          1
2 3          3
3 3          3
4 3          1
5 4          3

Elde edilen çıktı incelendiğinde, OGRENCIID, SINIF, Anne_Egitim, Baba_Egitim,OKUMA_ZEVK,ST097Q01TA, ST097Q02TA, ST097Q03TA ve ST097Q04TA değişkenleri seçilmiştir. Bu aralıkta yer alan CINSIYET değişkeni ise seçilmemiştir.

Sadece dplyr paketi içindeki select() fonksiyonu içinde çalışan ve daha detaylı seçimler yapma imkânı sunan bir grup yardımcı fonksiyon içermektedir. Bunlardan en sık kullanılanlar; starts_with(), contains(), matches(), num_range() fonksiyonlarıdır. Burada dikkat edilmesi gereken nokta bu fonksiyonların içindeki ifadenin çift tırnak (“ “) ile beraber kullanılması gerekliliğidir.

starts_with() sadece select() fonksiyonu içinde çalışan ve değişken seçme işlemini kolaylaştıran yardımcı bir fonksiyondur. Örneğin ST097 ile başlayan degişkenler starts_with() fonksiyonu ile seçilebilir.

In [77]:
select(midiPISA, starts_with("ST097")) %>%
  head(5)

  ST097Q01TA ST097Q02TA ST097Q03TA ST097Q04TA ST097Q05TA
1 1          2          1          1          1
2 3          2          3          3          3
3 2          3          3          3          3
4 2          2          3          1          1
5 3          3          4          3          1

In [78]:
# "TA" ile biten degişkenlerin seçimi
select(midiPISA, ends_with("TA")) %>%
  head(5)

  ST097Q01TA ST097Q02TA ST097Q03TA ST097Q04TA ST097Q05TA
1 1          2          1          1          1
2 3          2          3          3          3
3 2          3          3          3          3
4 2          2          3          1          1
5 3          3          4          3          1

Elde edilen çıktı incelendiğinde “TA” ile biten beş değişkenin seçildiği görülmektedir.

contains() yine benzer şekilde içinde belli harfler geçen değişkenler seçilmek istendiğinde kullanılır. Örneğin içinde OD geçen değişkenlerin seçilmesi;

In [79]:
select(midiPISA,contains("OD")) %>%
  head(5)

  ODOKUMA1 ODOKUMA2 ODOKUMA3 ODOKUMA4 ODOKUMA5
1 376.022  417.746  420.630  413.837  434.434
2 512.316  473.229  563.902  485.396  500.394
3 396.383  413.859  423.121  452.124  392.434
4 393.006  428.757  364.850  382.522  378.563
5 552.457  570.109  562.955  530.835  532.487

Elde edilen çıktıya göre içinde “OD” geçen beş okuma olası değerin yer aldığı değişkenler görülmektedir.

matches() içinde 02 geçen değişkenlerin seçilmesinde kullanılır.

In [80]:
select(midiPISA, matches("02")) %>%
  head(5)

  ST097Q02TA
1 2
2 2
3 3
4 2
5 3

Elde edilen çıktıya göre içinde “02” geçen bir değişken görülmektedir.

num_range() fonksiyonu ise ardışık ilerleyen değişkenlerin seçilmesinde kullanılır. midiPISA veri setinde okuma ile ilgili beş olası değer bulunduğundan sadece 1 ve 3 arasındakiler seçilmiştir ve ilk beş gözleme ait değerler istenmiştir. Tabi ki bu örneğimizde değişken sayısı az olduğundan bu seçim çok anlamlı görünmeyebilir fakat özellikle büyük verilerle çalışılırken bu seçim işlemi oldukça pratik olabilmektedir.

In [81]:
select(midiPISA,num_range("ODOKUMA",1:3)) %>%
  head(5)

  ODOKUMA1 ODOKUMA2 ODOKUMA3
1 376.022  417.746  420.630
2 512.316  473.229  563.902
3 396.383  413.859  423.121
4 393.006  428.757  364.850
5 552.457  570.109  562.955

Okuma puanı olası değerleri veri setinde sıralı bir şekilde yer aldığından, bu değerlerden ilk üçü num_range() fonksiyonu kullanılarak seçilmiştir.

Farklı fonksiyonlar ve aynı anda mantıksal operatörler kullanılarak da seçim işlemleri gerçekleştirilebilir. Örneğin veya | operatörü kullanılarak seçim yapılabilir.

midiPISA veri setinde “OD” içeren veya içinde “1” rakamı geçen değişken seçimi;

In [82]:
select(midiPISA,contains("OD") | matches("1")) %>% head(5)

  ODOKUMA1 ODOKUMA2 ODOKUMA3 ODOKUMA4 ODOKUMA5 ST097Q01TA
1 376.022  417.746  420.630  413.837  434.434  1
2 512.316  473.229  563.902  485.396  500.394  3
3 396.383  413.859  423.121  452.124  392.434  2
4 393.006  428.757  364.850  382.522  378.563  2
5 552.457  570.109  562.955  530.835  532.487  3

Elde edilen çıktı incelendiğinde, içinde “OD” veya “1” geçen toplam altı değişken olduğu görülmektedir. & operatörünün kullanımı da oldukça fazladır.

midiPISA veri setinde A harfini içeren ve içinde “2” rakamı olan değişkenlerin seçimi için;

In [83]:
select(midiPISA,contains("A") & matches("2")) %>% head(5)

  ST097Q02TA ODOKUMA2
1 2          417.746
2 2          473.229
3 3          413.859
4 2          428.757
5 3          570.109

Elde edilen çıktı incelendiğinde, midiPISA veri setinden “O” içermeyen ve içinde “0” rakamı olmayan SINIF, CINSIYET, Anne_Egitim ve Baba_Egitim değişkenleri seçilmiştir.

# **arrange()**

arrange() fonksiyonu satırları/gözlemleri sıralamak amacıyla kullanılır. Sıralama işlemini alfabetik sıralamaya göre yapar. Fakat ek bir fonksiyon yazıldığında büyüklük sırasına göre de sıralama yapar. Böylece veri seti istenilen kritere göre sıralanarak değişkenler arasındaki ilişki daha pratik bir şekilde görülebilir. arrange() fonksiyonunun kullanımı oldukça kolaydır; fonksiyonun içine veri setinin adını ve sıralama için kullanılacak değişkeni yazmak yeterli olur.

arrange() fonksiyonunun kullanımı;

arrange() fonksiyonunun kullanımı;
arrange(veri_seti, degisken_adi)
arrange() fonksiyonunun pipe operatörü %>% ile kullanımı;

veri_seti %>% arrange(degisken_adi)

Örnek veri seti üzerinden dört değişken seçip yeni bir veri setine (df) atayarak kaydedelim.

In [84]:
df <- midiPISA %>%
  select(OGRENCIID,ST097Q01TA,ST097Q04TA,OKUMA_ZEVK)
  df %>% head(6)

  OGRENCIID ST097Q01TA ST097Q04TA OKUMA_ZEVK
1 79200768  1          1          -0.2891
2 79201064  3          3           0.6040
3 79201118  2          3           0.6380
4 79201275  2          1          -1.1538
5 79201481  3          3           0.6669
6 79201556  3          2           0.3568

In [85]:
#Yeni oluşan df veri setini OKUMA_ZEVK(okumaktan zevk alma) puanlarına göre sıralayalım.
arrange(df,OKUMA_ZEVK) %>%
  head(5)

  OGRENCIID ST097Q01TA ST097Q04TA OKUMA_ZEVK
1 79204460  1          1          -2.7316
2 79201124  1          1          -2.7114
3 79204401  3          2          -2.7114
4 79206724  1          3          -2.7114
5 79204126  4          4          -2.7114

Elde edilen çıktı incelendiğinde, arrange() fonksiyonu ile öğrencilerden elde edilen gözlemler okumaktan zevk alma puanlarına göre küçükten büyüğe sıralanmıştır. Çünkü paket içerisinde yer alan fonksiyon sıralamayı önceden tanımlı/default olarak küçükten büyüğe yapar. Fakat bu gözlemler, büyükten küçüğe sıralanmak istendiğinde ek olarak arrenge() fonksiyonu içine desc() fonksiyonu yazılır.

In [86]:
arrange(df,desc(OKUMA_ZEVK))%>%  #büyükten küçüğe sıralama
  head(5)

  OGRENCIID ST097Q01TA ST097Q04TA OKUMA_ZEVK
1 79206987  3          2          2.6574
2 79204432  3          3          2.6574
3 79206337  4          4          2.6574
4 79203300  3          2          2.6131
5 79205358  4          2          2.6131

In [87]:
midiPISA %>%
 select(OGRENCIID,ST097Q01TA,ST097Q04TA,OKUMA_ZEVK) %>% #değişkenlerin seçimi
  arrange(OKUMA_ZEVK)%>% # değişkendeki gözlemleri sıralama
  head(6) #ilk 6 satırın görüntülenmesi

  OGRENCIID ST097Q01TA ST097Q04TA OKUMA_ZEVK
1 79204460  1          1          -2.7316
2 79201124  1          1          -2.7114
3 79204401  3          2          -2.7114
4 79206724  1          3          -2.7114
5 79204126  4          4          -2.7114
6 79205685  3          3          -2.7114

# **rename()**

Veri setinden istenilen değişkenler seçilerek yeni bir veri seti oluşturulmak istendiğinde seçilen değişkenlerin de ismini değiştirmek isteyebiliriz. Bu durumda rename() fonksiyonu (yeni ad=eski ad) şeklinde kullanılabilir.

In [88]:
midiPISA %>%
select(ODOKUMA1,ODOKUMA2)%>%
  rename(okumapuan1=ODOKUMA1,okumapuan2=ODOKUMA2) %>%
head(3)

  okumapuan1 okumapuan2
1 376.022    417.746
2 512.316    473.229
3 396.383    413.859

Görüldüğü üzere veri setinden seçilen ODOKUMA1 ve ODOKUMA2 sütunlarının isimleri okumapuan1 ve okumapuan2 olarak değiştirilmiştir.

select() fonksiyonu içinde değişken seçimi sırasında da değişken adı değişimi yapılabilir. Örnekte midiPISA veri setinden dört değişken seçilerek oluşturulan yeni veri setinde okuma becerileri olası değerleri 1 in yer aldığı ODOKUMA1 değişkeninin adı okumapuan1 olarak değiştirilip seçilebilir.

In [89]:
midiPISA %>%
select(OGRENCIID,ST097Q02TA,ST097Q03TA, okumapuan1=ODOKUMA1) %>%
head(3)

  OGRENCIID ST097Q02TA ST097Q03TA okumapuan1
1 79200768  2          1          376.022
2 79201064  2          3          512.316
3 79201118  3          3          396.383

Yeni seçilen veri setinde sadece ODOKUMA1 değişkeninin ismi okumapuan1 olarak değiştirilmiştir. Diğer üç değişkenin isminin aynı kaldığı görülmektedir.