# **Data Frame**

R’da data frame’ler data.frame() fonksiyonu ile oluşturulabilir. R’a farklı programlardan aktarılan veriler genelde data frame olarak kaydedilir. Bu data frame’ler matrislere çok benzer, ancak data frame’lerde farklı sütunlarda yer alan veriler farklı türlerde olabilir. Matrislerde tüm veriler aynı tür olmak zorundadır. Data frame kavramı farklı kaynaklarda veri seti ya da veri çerçevesi olarak çevrilmiştir.

In [1]:
# süper lig 2022-2023 sezonunun sonuç tablosundaki ilk 6 takımdan oluşan data frame'i oluşturalım
takim <- c("galatasaray", "fenerbahce", "besiktas", "adana demirspor", "basaksehir", "trabzonspor")
gol <- c(83, 87, 78, 76, 54, 64)
puan <- c(88, 80, 78, 69, 62, 57)

dataFrame1 <- data.frame(takim, gol, puan)
dataFrame1

  takim           gol puan
1 galatasaray     83  88
2 fenerbahce      87  80
3 besiktas        78  78
4 adana demirspor 76  69
5 basaksehir      54  62
6 trabzonspor     64  57

In [2]:
#Uzunlukları farklı olan vektörlerle data frame oluşturmaya çalışılırsa, kısa vektör uzun vektör uzunluğunda tekrar edecektir.
#Uzun vektörün uzunluğu kısa vektörün uzunluğunun bir katı değilse hata mesajı alınacaktır.
x <- 100:103
y <- 10
M <- c(10, 11)
N <- c(4, 5, 6)

# x dört; y ise bir elemanlıdır
data.frame(x, y)

  x   y
1 100 10
2 101 10
3 102 10
4 103 10

In [3]:
#iris veri seti, R’daki en meşhur veri setlerinden biridir. Sıklıkla veri görselleştirmenin ya da sınıflamanın gösterilmesi
#amacıyla kullanılmaktadır. Veriler, İngiliz istatistikçi ve biyolog Ronald Fisher tarafından toplanmıştır.
#Veri setinin ilk 10 satırı şu şekilde incelenebilir:

data(iris) # kayırlı iris datası çağrılıyor
head(iris, 10) #datanaın ilk 10 satırısı görüntülenmek isteniyor.

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

In [4]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [5]:
tail(iris) #Son 10 satırı verir.

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [6]:
dim(iris) #datanın kaç satır ve sütundan oluştuğu bilgisini verir.

[1] 150   5

In [7]:
dimnames(iris)#iris veri setinin satır ve sütun adlarını döndürür.

[[1]]
  [1] "1"   "2"   "3"   "4"   "5"   "6"   "7"   "8"   "9"   "10"  "11"  "12"
 [13] "13"  "14"  "15"  "16"  "17"  "18"  "19"  "20"  "21"  "22"  "23"  "24"
 [25] "25"  "26"  "27"  "28"  "29"  "30"  "31"  "32"  "33"  "34"  "35"  "36"
 [37] "37"  "38"  "39"  "40"  "41"  "42"  "43"  "44"  "45"  "46"  "47"  "48"
 [49] "49"  "50"  "51"  "52"  "53"  "54"  "55"  "56"  "57"  "58"  "59"  "60"
 [61] "61"  "62"  "63"  "64"  "65"  "66"  "67"  "68"  "69"  "70"  "71"  "72"
 [73] "73"  "74"  "75"  "76"  "77"  "78"  "79"  "80"  "81"  "82"  "83"  "84"
 [85] "85"  "86"  "87"  "88"  "89"  "90"  "91"  "92"  "93"  "94"  "95"  "96"
 [97] "97"  "98"  "99"  "100" "101" "102" "103" "104" "105" "106" "107" "108"
[109] "109" "110" "111" "112" "113" "114" "115" "116" "117" "118" "119" "120"
[121] "121" "122" "123" "124" "125" "126" "127" "128" "129" "130" "131" "132"
[133] "133" "134" "135" "136" "137" "138" "139" "140" "141" "142" "143" "144"
[145] "145" "146" "147" "148" "149" "150"

[[2]]
[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

In [8]:
colnames(iris) #Sütun isimlerini verir
rownames(iris) # Satır isimlerini verir.

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

  [1] "1"   "2"   "3"   "4"   "5"   "6"   "7"   "8"   "9"   "10"  "11"  "12"
 [13] "13"  "14"  "15"  "16"  "17"  "18"  "19"  "20"  "21"  "22"  "23"  "24"
 [25] "25"  "26"  "27"  "28"  "29"  "30"  "31"  "32"  "33"  "34"  "35"  "36"
 [37] "37"  "38"  "39"  "40"  "41"  "42"  "43"  "44"  "45"  "46"  "47"  "48"
 [49] "49"  "50"  "51"  "52"  "53"  "54"  "55"  "56"  "57"  "58"  "59"  "60"
 [61] "61"  "62"  "63"  "64"  "65"  "66"  "67"  "68"  "69"  "70"  "71"  "72"
 [73] "73"  "74"  "75"  "76"  "77"  "78"  "79"  "80"  "81"  "82"  "83"  "84"
 [85] "85"  "86"  "87"  "88"  "89"  "90"  "91"  "92"  "93"  "94"  "95"  "96"
 [97] "97"  "98"  "99"  "100" "101" "102" "103" "104" "105" "106" "107" "108"
[109] "109" "110" "111" "112" "113" "114" "115" "116" "117" "118" "119" "120"
[121] "121" "122" "123" "124" "125" "126" "127" "128" "129" "130" "131" "132"
[133] "133" "134" "135" "136" "137" "138" "139" "140" "141" "142" "143" "144"
[145] "145" "146" "147" "148" "149" "150"

In [9]:
nrow(iris) #satır sayılarını verir
ncol(iris) #sütun sayılarını verir.

[1] 150

[1] 5

In [10]:
mean(iris$Petal.Length)#seçilen satırın ortalamasını verir.

[1] 3.758

In [11]:
attributes(iris)#veri setinin yapısı, sütun adları, satır adları, sınıfı gibi bilgileri içerir.

$names
[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

$class
[1] "data.frame"

$row.names
  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
[109] 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
[127] 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
[145] 145 146 147 148 149 150

In [12]:
summary(iris)#Bu fonksiyon, veri setinizin genel yapısı ve değişkenlerin dağılımı hakkında hızlı bir genel bakış sağlar.

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [13]:
table(is.na(iris))#veri setindeki her bir hücrenin eksik olup olmadığını kontrol eder ve eksik olan yerler için TRUE, olmayan yerler için FALSE değerini döndüren bir mantıksal matris oluşturur.

FALSE
  750

In [14]:
subset(iris, Sepal.Width < 2.7)
#veri setinden belirli bir koşulu sağlayan satırları seçmek için kullanılır.
#Burada, 'Sepal.Width' (Çanak Yaprağı Genişliği) sütunundaki değeri 2.7'den küçük olan tüm gözlemleri
#(satırları) seçer ve yeni bir veri çerçevesi olarak döndürür.

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
42  4.5          2.3         1.3          0.3         setosa
54  5.5          2.3         4.0          1.3         versicolor
58  4.9          2.4         3.3          1.0         versicolor
61  5.0          2.0         3.5          1.0         versicolor
63  6.0          2.2         4.0          1.0         versicolor
69  6.2          2.2         4.5          1.5         versicolor
70  5.6          2.5         3.9          1.1         versicolor
73  6.3          2.5         4.9          1.5         versicolor
80  5.7          2.6         3.5          1.0         versicolor
81  5.5          2.4         3.8          1.1         versicolor
82  5.5          2.4         3.7          1.0         versicolor
88  6.3          2.3         4.4          1.3         versicolor
90  5.5          2.5         4.0          1.3         versicolor
91  5.5          2.6         4.4          1.2         versicolor
93  5.8          2.6         4.0          1.2         versicolor
94  5.0          2.3         3.3          1.0         versicolor
99  5.1          2.5         3.0          1.1         versicolor
107 4.9          2.5         4.5          1.7         virginica
109 6.7          2.5         5.8          1.8         virginica
114 5.7          2.5         5.0          2.0         virginica
119 7.7          2.6         6.9          2.3         virginica
120 6.0          2.2         5.0          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
147 6.3          2.5         5.0          1.9         virginica

In [15]:
#mtcars, R’da özellikle veri görselleştirme uygulamaları için yaygın olarak kullanılan bir başka veri setidir.
#Bu veriler 1974 yılı Motor Trend US tarafından derlenmiştir. 32 aracın 11 farklı özelliğini ifade eden değişkenlere sahiptir.
#Bu değişkenlerin tamamı nümeriktir.
#Veri setinin ilk 10 satırı şu şekilde incelenebilir:
data(mtcars)
head(mtcars, 10)

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

In [17]:
#penguins veri seti palmerpenguins paketinin içindeki bir veri setidir. Veriler, bilim insanları tarafından toplanmış
#ve Antartika’daki Palmer Archipelago’da yaşayan 3 farklı penguenin özelliklerine ilişkin
#bilgiler içermektedir.

install.packages("palmerpenguins")
head(penguins, 10)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

   species island    bill_len bill_dep flipper_len body_mass sex    year
1  Adelie  Torgersen 39.1     18.7     181         3750      male   2007
2  Adelie  Torgersen 39.5     17.4     186         3800      female 2007
3  Adelie  Torgersen 40.3     18.0     195         3250      female 2007
4  Adelie  Torgersen   NA       NA      NA           NA      NA     2007
5  Adelie  Torgersen 36.7     19.3     193         3450      female 2007
6  Adelie  Torgersen 39.3     20.6     190         3650      male   2007
7  Adelie  Torgersen 38.9     17.8     181         3625      female 2007
8  Adelie  Torgersen 39.2     19.6     195         4675      male   2007
9  Adelie  Torgersen 34.1     18.1     193         3475      NA     2007
10 Adelie  Torgersen 42.0     20.2     190         4250      NA     2007

In [18]:
#Titanic veri seti R’ın kurulumu ile birlikte gelen veri setlerinden biridir. Daha doğrusu, bu set aslında doğrudan bir data frame değildir.#
# İlk çağrıldığında ‘table’ formatında gelmektedir. Bu formattaki veri seti 4 boyutlu bir çapraz tablo şeklindedir.
#4 değişkene ilişkin 2201 gözlem içermektedir.

# veri setinin çağırılması
data(Titanic)

# veri setinin istenen formata getirilmesi
library(tibble)
Titanic <- as_tibble(Titanic)

head(Titanic, 10)

   Class Sex    Age   Survived n
1  1st   Male   Child No         0
2  2nd   Male   Child No         0
3  3rd   Male   Child No        35
4  Crew  Male   Child No         0
5  1st   Female Child No         0
6  2nd   Female Child No         0
7  3rd   Female Child No        17
8  Crew  Female Child No         0
9  1st   Male   Adult No       118
10 2nd   Male   Adult No       154

In [19]:
#airquality, R’da özellikle zaman serileri ve regresyon analizi çalışmalarını örneklendirmek amacıyla kullanılan bir veri setidir.
#Bu veri setinde New York’un hava kalitesine ilişkin bilgiler bulunmaktadır. 153 satır ve 6 sütundan oluşan veri setinde satırlarda
#Mayıs 1973’ten Eylül 1973’e kadar ölçümlenen değerler bulunmaktadır. Bu veri setinde kayıp değerler de bulunmaktadır.
#Bu nedenle kayıp değer analizlerini örneklendirmek amacıyla da kullanılabilirdir.

data(airquality)
head(airquality, 10)

   Ozone Solar.R Wind Temp Month Day
1  41    190      7.4 67   5      1
2  36    118      8.0 72   5      2
3  12    149     12.6 74   5      3
4  18    313     11.5 62   5      4
5  NA     NA     14.3 56   5      5
6  28     NA     14.9 66   5      6
7  23    299      8.6 65   5      7
8  19     99     13.8 59   5      8
9   8     19     20.1 61   5      9
10 NA    194      8.6 69   5     10

In [20]:
#İstenilen Sütun Değerlerini Çağırmak İçin (1. sütünu çağırdık)

isim = c("Mehmet", "Ahmet", "Özlem")
yas = c(40,35,39)

isim_yas = data.frame(isim,yas)

isim_yas[1]

#ya da aşağıdaki fonksiyonu kullanarak

isim_yas$isim

  isim
1 Mehmet
2 Ahmet
3 Özlem

[1] "Mehmet" "Ahmet"  "Özlem"

In [21]:
#Matris gibi istenilen değerlerde çağrılabilir.

isim_yas[1,] #1. satır gelir
isim_yas[,1] #1. sütun gelir
isim_yas[2,c(1,2)] #2. satır istenen sütunlar çağrılır

  isim   yas
1 Mehmet 40

[1] "Mehmet" "Ahmet"  "Özlem"

  isim  yas
2 Ahmet 35

In [22]:
#Data frame sıklıkla karşılaşılan bir veri yapısıdır. Matrislere çok benzemekle birlikte,
#matrislerden farklı olarak data frame’lerde farklı sütunlarda farklı veri türleri yer alabilir.

matrisK <- matrix(1:12, 2, 6) #1 den 12 ye kadar 2 satır 6 sütunluk bir matris oluşturduk.
yenidata <- rbind(matrisK, c("elma", "çilek", "erik", "armut", "karpuz", "kiraz"))# daha sonra bu matrisle başka bir vektörü birleştirdik
yenidata

     [,1] [,2]  [,3] [,4]  [,5]   [,6]
[1,] 1    3     5    7     9      11
[2,] 2    4     6    8     10     12
[3,] elma çilek erik armut karpuz kiraz

In [23]:
#Bir data.frame oluşturduk
id <- 1:14
notlar <- c(70, 75, 65, 60, 35, 80, 80, 85, 90, 95, 80, 75, 60, 55)
ogrenciler <- c("Ogr01", "Ogr02", "Ogr03", "Ogr04", "Ogr05", "Ogr06", "Ogr07", "Ogr08",
                "Ogr09", "Ogr10", "Ogr11", "Ogr12", "Ogr13", "Ogr14")

data1 <- data.frame(id, notlar, ogrenciler)

In [24]:
# notu 75'ten yüksek olan öğrencilerin seçilmesi
data1[data1[2] > 75, ]

   id notlar ogrenciler
6   6 80     Ogr06
7   7 80     Ogr07
8   8 85     Ogr08
9   9 90     Ogr09
10 10 95     Ogr10
11 11 80     Ogr11

In [25]:
# notu 75'ten yüksek olan ve adı Ogr06 olan öğrencilerin seçilmesi
data1[data1[2] > 75 & data1[3] == "Ogr06", ]

  id notlar ogrenciler
6 6  80     Ogr06

In [26]:
#Köşeli parantez kullanmadan subset() fonksiyonu yardımıyla da veri setlerinden eleman seçimi yapılabilir.
subset(data1, ogrenciler == "Ogr06")

  id notlar ogrenciler
6 6  80     Ogr06

In [27]:
subset(data1, notlar > 75)

   id notlar ogrenciler
6   6 80     Ogr06
7   7 80     Ogr07
8   8 85     Ogr08
9   9 90     Ogr09
10 10 95     Ogr10
11 11 80     Ogr11

In [28]:
#Veri setlerine yeni elemanlar eklenebilir.

# $ sembolünü kullanarak atama yapmak
data1$gpa <- c(3.0, 3.3, 3.2, 4.0, 2.8, 3.3, 3.5, 3.4, 3.5, 3.1, 3.2, 2.9, 3.8, 3.3)

# [[]] kullanarak atama yapmak
data1[["gpa2"]] <- c(3.0, 3.3, 3.2, 4.0, 2.8, 3.3, 3.5, 3.4, 3.5, 3.1, 3.2, 2.9, 3.8, 3.3)

# cbind() fonksiyonu ile atama yapmak
yilsonu <- c(3.0, 3.3, 3.2, 4.0, 2.8, 3.3, 3.5, 3.4, 3.5, 3.1, 3.2, 2.9, 3.8, 3.3)
data1 <- cbind(data1, gpa3 = yilsonu)

data1

   id notlar ogrenciler gpa gpa2 gpa3
1   1 70     Ogr01      3.0 3.0  3.0
2   2 75     Ogr02      3.3 3.3  3.3
3   3 65     Ogr03      3.2 3.2  3.2
4   4 60     Ogr04      4.0 4.0  4.0
5   5 35     Ogr05      2.8 2.8  2.8
6   6 80     Ogr06      3.3 3.3  3.3
7   7 80     Ogr07      3.5 3.5  3.5
8   8 85     Ogr08      3.4 3.4  3.4
9   9 90     Ogr09      3.5 3.5  3.5
10 10 95     Ogr10      3.1 3.1  3.1
11 11 80     Ogr11      3.2 3.2  3.2
12 12 75     Ogr12      2.9 2.9  2.9
13 13 60     Ogr13      3.8 3.8  3.8
14 14 55     Ogr14      3.3 3.3  3.3

In [29]:
#Veri setlerinin yapısı str() fonksiyonu ile incelenebilir.
str(data1)

'data.frame':	14 obs. of  6 variables:
 $ id        : int  1 2 3 4 5 6 7 8 9 10 ...
 $ notlar    : num  70 75 65 60 35 80 80 85 90 95 ...
 $ ogrenciler: chr  "Ogr01" "Ogr02" "Ogr03" "Ogr04" ...
 $ gpa       : num  3 3.3 3.2 4 2.8 3.3 3.5 3.4 3.5 3.1 ...
 $ gpa2      : num  3 3.3 3.2 4 2.8 3.3 3.5 3.4 3.5 3.1 ...
 $ gpa3      : num  3 3.3 3.2 4 2.8 3.3 3.5 3.4 3.5 3.1 ...

In [30]:
#names() ya da colnames() fonksiyonları ile bir data frame’deki değişkenlere isim verilebilir.

names(data1) <- c("No", "Sınav Notu", "Ad Soyad", "GPA1", "GPA2", "GPA3")
data1

   No Sınav Notu Ad Soyad GPA1 GPA2 GPA3
1   1 70         Ogr01    3.0  3.0  3.0
2   2 75         Ogr02    3.3  3.3  3.3
3   3 65         Ogr03    3.2  3.2  3.2
4   4 60         Ogr04    4.0  4.0  4.0
5   5 35         Ogr05    2.8  2.8  2.8
6   6 80         Ogr06    3.3  3.3  3.3
7   7 80         Ogr07    3.5  3.5  3.5
8   8 85         Ogr08    3.4  3.4  3.4
9   9 90         Ogr09    3.5  3.5  3.5
10 10 95         Ogr10    3.1  3.1  3.1
11 11 80         Ogr11    3.2  3.2  3.2
12 12 75         Ogr12    2.9  2.9  2.9
13 13 60         Ogr13    3.8  3.8  3.8
14 14 55         Ogr14    3.3  3.3  3.3

In [31]:
colnames(data1) <- c("Numara", "Not", "İsim", "GPA1", "GPA2", "GPA3")
data1

   Numara Not İsim  GPA1 GPA2 GPA3
1   1     70  Ogr01 3.0  3.0  3.0
2   2     75  Ogr02 3.3  3.3  3.3
3   3     65  Ogr03 3.2  3.2  3.2
4   4     60  Ogr04 4.0  4.0  4.0
5   5     35  Ogr05 2.8  2.8  2.8
6   6     80  Ogr06 3.3  3.3  3.3
7   7     80  Ogr07 3.5  3.5  3.5
8   8     85  Ogr08 3.4  3.4  3.4
9   9     90  Ogr09 3.5  3.5  3.5
10 10     95  Ogr10 3.1  3.1  3.1
11 11     80  Ogr11 3.2  3.2  3.2
12 12     75  Ogr12 2.9  2.9  2.9
13 13     60  Ogr13 3.8  3.8  3.8
14 14     55  Ogr14 3.3  3.3  3.3

In [32]:
# tüm içeriği tek bir karakter vektörüne dönüştürmek yerine, genellikle nesnenin sınıfını (yani 'data.frame') karakter olarak döndürür.
as.character(isim_yas)

[1] "c(\"Mehmet\", \"Ahmet\", \"Özlem\")" "c(40, 35, 39)"

# **Veri Yapıları Arasında Dönüşüm**

In [34]:
#as.list() vektörün listeye dönüşümü
sayilar <- c(10, 11, 12, 13, 17, 20)
sayilar
as.list(sayilar)

[1] 10 11 12 13 17 20

[[1]]
[1] 10

[[2]]
[1] 11

[[3]]
[1] 12

[[4]]
[1] 13

[[5]]
[1] 17

[[6]]
[1] 20

In [38]:
sayilar2 <- 1:6
tablo <- data.frame(sayilar, sayilar2)
tablo

  sayilar sayilar2
1 10      1
2 11      2
3 12      3
4 13      4
5 17      5
6 20      6

In [39]:
as.list(yeni_sayilar)# dataframe in listeye dönüşümü

$sayilar
[1] 10 11 12 13 17 20

$sayilar2
[1] 1 2 3 4 5 6

In [40]:
#as.data.frame()
sayilar <- c(10, 11, 12, 13, 17, 20)
sayilar
as.data.frame(sayilar)

[1] 10 11 12 13 17 20

  sayilar
1 10
2 11
3 12
4 13
5 17
6 20

Veri yapıları birbirine dönüştürülebilir.

Bazen veri yapılarının birbirine dönüştürülmesi gerekebilir. Örneğin, bilgisayardaki bir Excel dosyası R’a okutturulduğunda genellikle bir data frame elde edilir. Ancak bu data frame aslında yalnızca sayısal karakterler içeren bir matristir ve matrislerde aritmetik işlemler gerçekleştirilmesi gerekiyordur. Bu nedenle data frame’in öncelikle matrise çevrilmesi gerekir. Bunun için as.matrix() fonksiyonu kullanılır.

In [41]:
#as.matrix() martise dönüşüm
as.matrix(sayilar)

     [,1]
[1,] 10
[2,] 11
[3,] 12
[4,] 13
[5,] 17
[6,] 20

In [42]:
#as.vector() vektöre dönüşüm

as.vector(sayilar)

[1] 10 11 12 13 17 20

In [45]:
vektorK <- c(1, 2, 3, 4)
vektorL <- 10:13
vektorM <- seq(from = 100, to = 200, length.out = 4)
dataKLM <- data.frame(vektorK, vektorL, vektorM)
dataKLM

  vektorK vektorL vektorM
1 1       10      100.0000
2 2       11      133.3333
3 3       12      166.6667
4 4       13      200.0000

In [46]:
as.list(dataKLM)

$vektorK
[1] 1 2 3 4

$vektorL
[1] 10 11 12 13

$vektorM
[1] 100.0000 133.3333 166.6667 200.0000

In [47]:
as.matrix(dataKLM)

     vektorK vektorL vektorM
[1,] 1       10      100.0000
[2,] 2       11      133.3333
[3,] 3       12      166.6667
[4,] 4       13      200.0000

In [48]:
# vektörün data frame'e dönüştürülmesi
notlar <- c("AA", "BA", "BB", "CB", "CC")
class(notlar)

[1] "character"

In [49]:
notlar2 <- as.data.frame(notlar)
notlar2

  notlar
1 AA
2 BA
3 BB
4 CB
5 CC

In [50]:
# listenin data frame'e dönüştürülmesi
personel <- c("Per01", "Per02", "Per03", "Per04", "Per05", "Per06", "Per07", "Per08",
              "Per09", "Per10")
motivasyon_puani <- c(90, 80, 80, 80, 70, 40, 70, 50, 90, 80)
maas <- c(40000, 40000, 30000, 35000, 20000, 12000, 18000, 25000, 50000, 30000)
liste_yeni <- as.data.frame(list(Ad = personel, Motivasyon = motivasyon_puani, Ucret = maas))
liste_yeni

   Ad    Motivasyon Ucret
1  Per01 90         40000
2  Per02 80         40000
3  Per03 80         30000
4  Per04 80         35000
5  Per05 70         20000
6  Per06 40         12000
7  Per07 70         18000
8  Per08 50         25000
9  Per09 90         50000
10 Per10 80         30000

**as. ile dönüştürülüs is. ile sorgusu yapılır.**