# **Tarih ve Zaman**

In [4]:
#iki tarih arasında ki fark.
#as.Date fonksiyonu ile string değeri tarihe dönüştürürüz.

ilk_tarih = as.Date("12/12/2003")
son_tarih = as.Date("15/02/2025")

fark = son_tarih-ilk_tarih
fark

Time difference of 792 days

In [19]:
#sistem tarihini görmek için
#System.time()

In [15]:
#iki tarih arasında ki fark
fark= difftime("12/10/2010","25/9/2025")
fark
class(fark)

Time difference of -4718 days

[1] "difftime"

In [18]:
#Tarih format değişikliği yapmak için
#R ın tarih formatı yıl ay gün şeklindedir.
trh = c("12/10/2001","25/01/2026")
#yıl ay gün olacak şekilde değiştirmek istiyoruz.
yeni_tarih = strptime(trh,format = "%d/%m/%Y")
yeni_tarih

[1] "2001-10-12 UTC" "2026-01-25 UTC"

**Veri Setini Alt Kümelere Ayırmak**

In [26]:
isimler = c("mehmet","ahmet","özlem")
sinav_notu = c(75,85,96)
boy = c(175,185,168)
kg = c(75,85,56)
var_mi = c(T,F,F)

veri = as.data.frame(cbind(isimler,sinav_notu,boy,kg,var_mi))
veri

  isimler sinav_notu boy kg var_mi
1 mehmet  75         175 75 TRUE
2 ahmet   85         185 85 FALSE
3 özlem   96         168 56 FALSE

In [32]:
#Genel tablodan kendi tablomuzu oluşturduk.
yeni_veri = veri[,c("isimler","kg")]
yeni_veri

  isimler kg
1 mehmet  75
2 ahmet   85
3 özlem   56