# **İçe Aktarma**

1. yol Environment kısmındaki ’Import Dataset' kısmından yükleyebiliriz.

2. yol Üç adımda şunların gerçekleştirildiğini anlayabiliriz: (1) .xslx formatındaki veri seti içe aktarılırken readxl isimli paketin çalıştırılması gerekmektedir. (2) Bu paket içindeki read_excel() fonksiyonu kullanılarak çalışma alanında data isimli nesne oluşturulmaktadır. (3) View() fonksiyonu kullanılarak içe aktarılan veri setinin bir görüntüsü ekrana getirilmektedir.

In [ ]:
#library(readxl)
#data <- read_excel("C:/Users/Administrator/Desktop/Import/data.xlsx")
#View(data)

In [ ]:
#getwd()#Çalışam Dizinimizin Konumunu Öğreniriz

In [ ]:
#setwd()#Çalışma Dizinimizin Yerini Değiştiririz.
#Yol girilirken slashlar sola yatık değilde sağa yatık / şekilde olacak yoksa hata veriyor.

In [ ]:
#NA kayıp veri olarak adlandırılır. Bunları tespit edip çeşitli işlemler yapabiliriz.(na.rm =)
data(iris)
head(iris)
mean(iris$Petal.Length)
mean(iris$Petal.Length,na.rm = TRUE)# eğer NA kayıp değer olsaydı bunları hesaba katmadan ortalamayı hesaplayacaktı.

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

[1] 3.758

[1] 3.758

In [ ]:
#v1.txt adında bir dosyamız olsun.
#getwd() ile çalışma dizinimizi öğreniyoruz.
#istersek setwd() ile bu dizini değiştirebiliriz.
#En başında proje oluştururak başlarsak getwd() çalışma yolumuz proje yolumuzdur.
#"C:/Users/user/Documents" olduğunu öğrendik diyelim.
#kullanacağımız tüm kaynakları proje dosyamızın içerisinde bulunmak kolaylık sağlar. Uzun bir dosya yolu girmeye gerek kalmaz.
#Dosyayı direk adı ve uzantısıyla çağırabiliriz.

#v1 = read.table("C:/Users/user/Documents/v1.txt") ile bu veriyi okuyabiliriz.

#library(readr)
#v2 = read.csv("v2.csv", header = TRUE, sep = ";") ile bu veriyi okuyabiliriz. Dosya aynı çalışma dizinindeyse böyle çağrılabilir.
# header =TRUE demek başlıkları olsun demek, sep ise verilerin nerden ayrılacağını belirleriz.45;25;23 şeklinde ise

#v3 = read.csv2("v2.csv") header ve sep ayarlamamıza gerek kalmaz.
#View(v3)

#v4 = read.csv2(file.choose()) Bu yöntem ile açılır pencereden yüklenecek dosya seçilir.

In [ ]:
#R ın kendi içerisinde bulunan data paketlerini R ile çağırabiliriz.
attach(cars)
#Eklenmiş paketleri görüntülemek için
search()
#Eklenen paketleri kaldırmak için
detach(cars)

The following objects are masked from cars (pos = 3):

    dist, speed

 [1] ".GlobalEnv"        "cars"              "cars"
 [4] "jupyter:irkernel"  "package:stats"     "package:graphics"
 [7] "package:grDevices" "package:utils"     "package:datasets"
[10] "package:methods"   "Autoloads"         "package:base"

In [ ]:
#R daki ekli data setleri görüntülemek için
#datasets::

#irisi seçmek için
#datasets:: iris

In [ ]:
#.dat dosyasını okutmak içim

#veri = read.delim("yol", use.value.labels=TRUE, to.data.frame= TRUE)

In [ ]:
#spss dosyasını okutmak için
import(foregin)
veri = read.spss("yol")

In [ ]:
#Faktör Dönüşümlerinden faktör sıralamasını belirlememiz gerekir.Belirlemezsek alfabetik sıralamaya sokacaktır

liste = c("İlk","Lise","Orta")
liste = as.factor(liste)
liste

liste= factor(liste,levels = levels(liste[c(1,3,2)]))

[1] İlk  Lise Orta
Levels: İlk Lise Orta

In [ ]:
#internetten bir veriyi çekmek için
#library(readr)
#TR_university <- read_csv("https://raw.githubusercontent.com/gungorMetehan/TREduData/main/TREduData_university")

# **Dışa Aktarma**

R’da kullanmak üzere veriler içe aktarılabileceği gibi, R’daki veriler farklı amaçlarla farklı programlarda kullanılmak üzere dışa da aktarılabilir. Yine bu işlemi gerçekleştirmek için pek çok fonksiyon hem R’ın temel paketinde mevcuttur. Hem de R için geliştirilmiş özel paketler içindeki fonksiyonlardan yararlanılarak veriler dışa aktarılabilir. Veri setlerini dışa aktarmak için write.table() fonksiyonundan yararlanılabilir. Bunun için örnek olarak R’daki iris veri setinin bir kısmından oluşan yeni bir veri setini çalışma dizinimizin içine kaydedelim.

Dışa veri aktarırken bir boşluk yada noktalı birgüller ayrılmış çekilde csv formatında ayrılması tavsiye edilir.

In [16]:
# öncelikle iris veri setini çağıralım ve ilk 15 satırından oluşan iris15 isimli yeni bir veri seti oluşturalım.
data(iris)
iris15 <- head(iris, 15)

# write.table() fonksiyonu ile iris15'i bir metin dosyası olarak kaydedelim.
write.table(iris15, file = 'iris15.txt', col.names = TRUE, row.names = FALSE,sep = ";")

In [ ]:
# write.table() fonksiyonu ile iris15'i bir CSV dosyası olarak kaydedelim.
write.table(iris15, file = 'iris15.csv', row.names = FALSE, sep = ",") #sep="\t" olursa bir tab boşluk bırakır.

In [ ]:
# öncelikle iris veri setini çağıralım ve ilk 20 satırından oluşan iris20 isimli yeni bir veri seti oluşturalım.
data(iris)
iris20 <- head(iris, 20)

# readr paketini çalıştıralım (fonksiyonun paketidir)
library(readr)

# çıktıyı çalışma dizinine kaydedelim
write_csv(iris20, file = "iris20.csv")

In [18]:
veri = cbind(yas=c(30,35,20,36,35,36),boy=c(125,254,456,251,125))
veri
#sink("dosyaya,txt") bu komutu yazarsak bundan sonra yazdırdıklarımı istediğim dosyaya yazar.
#veri

Warning message in cbind(yas = c(30, 35, 20, 36, 35, 36), boy = c(125, 254, 456, :
“number of rows of result is not a multiple of vector length (arg 2)”

     yas boy
[1,] 30  125
[2,] 35  254
[3,] 20  456
[4,] 36  251
[5,] 35  125
[6,] 36  125

In [ ]:
#Bir döngü içerisinde ki sonuçları tek tek dosyaya yazdırabiliriz.
for (i in 1:10){
  x=x**2
  write.table(x,"dosyaya.txt", append = T,row.names = F,col.names = F) #append i tru yapmazsak sadece son yapılan işlem i yazar.
}

# **Rcmdr Paketi**

Verileri düzenlemek ve analiz etmek için kullanılan bir pakettir.

Paketi Yüklemek İçin Aşağıdaki komut kullanılmalıdır.

install.install.packages("Rcmdr",dependencies = TRUE)

Paketi Aktif Hale Getirmek İçin ise aşağıdaki komut kullanılır.

library(Rcmdr)

Yüklendikten sonra başka bir pencere açılır.

Data sekmesinden excel gibi tablolar oluşturabiliriz.

Statistic Menüsünden basit testler yapabiliriz.

Faktör Dğeişken Dönüşümü Yapabiliriz.

Bir değişkenin alt Kategorilerini oluşturabiliriz. Örneğin cinsiyet erkek kadın 1,2 gibi

Farklı veri setlerinden verileri import edebiliriz.

spss gibi bir arayüzü var. basit testleri yapabiliriz. t testi gibi