# **Tarih ve Zaman**

In [ ]:
#iki tarih arasında ki fark.
#as.Date fonksiyonu ile string değeri tarihe dönüştürürüz.

ilk_tarih = as.Date("12/12/2003")
son_tarih = as.Date("15/02/2025")

fark = son_tarih-ilk_tarih
fark

Time difference of 792 days

In [ ]:
#sistem tarihini görmek için
#System.time()

In [ ]:
#iki tarih arasında ki fark
fark= difftime("12/10/2010","25/9/2025")
fark
class(fark)

Time difference of -4718 days

[1] "difftime"

In [ ]:
#Tarih format değişikliği yapmak için
#R ın tarih formatı yıl ay gün şeklindedir.
trh = c("12/10/2001","25/01/2026")
#yıl ay gün olacak şekilde değiştirmek istiyoruz.
yeni_tarih = strptime(trh,format = "%d/%m/%Y")
yeni_tarih

[1] "2001-10-12 UTC" "2026-01-25 UTC"

**Veri Setini Alt Kümelere Ayırmak**

In [ ]:
isimler = c("mehmet","ahmet","özlem")
sinav_notu = c(75,85,96)
boy = c(175,185,168)
kg = c(75,85,56)
var_mi = c(T,F,F)

veri = as.data.frame(cbind(isimler,sinav_notu,boy,kg,var_mi))
veri

  isimler sinav_notu boy kg var_mi
1 mehmet  75         175 75 TRUE
2 ahmet   85         185 85 FALSE
3 özlem   96         168 56 FALSE

In [ ]:
#Genel tablodan kendi tablomuzu oluşturduk.
yeni_veri = veri[,c("isimler","kg")]
yeni_veri

  isimler kg
1 mehmet  75
2 ahmet   85
3 özlem   56

In [ ]:
#satıra göre filtreleme yapar gibi de kendi tablomuzu oluşturabiliriz.
yeni_veri_2 = veri[veri$var_mi==F,]
yeni_veri_2

  isimler sinav_notu boy kg var_mi
2 ahmet   85         185 85 FALSE
3 özlem   96         168 56 FALSE

In [ ]:
#f olanların boylarını değer olarak öğrenebilirim.
yeni_veri_3 = veri[veri$var_mi==F,"boy"]
yeni_veri_3
class(yeni_veri_3)

[1] "185" "168"

[1] "character"

In [ ]:
#kadınlara ait boy ve kg verilerini ekleyip değiştiriyoruz.
#attach(women)
#kadin = women
#colnames(kadin) = c("kilo", "boy")
#kadin

In [ ]:
#veri setinden kendi filtremizi yaparak bir tablo daha oluşturduk subset() fonksiyonu ile
sorgu1 = subset(kadin, boy>125)
sorgu1

   kilo boy
5  62   126
6  63   129
7  64   132
8  65   135
9  66   139
10 67   142
11 68   146
12 69   150
13 70   154
14 71   159
15 72   164

In [ ]:
#veri setinden çoklu filtreleme yaparak tablomuzu oluşturduk.
sorgu2 = subset(kadin, boy>125 & kilo<65)
sorgu2

  kilo boy
5 62   126
6 63   129
7 64   132

In [ ]:
#boy u 125cm den büyük olan kadınların sadece kiloları gösteren kod
yeni_veri_4 = subset(kadin,boy>125, select = kilo)
yeni_veri_4

   kilo
5  62
6  63
7  64
8  65
9  66
10 67
11 68
12 69
13 70
14 71
15 72

**Veri Setini Yeniden Düzenleme**

In [ ]:
#transpose işlemini yapmak için "reshape" paketi kullanılır.
#install.packages("reshape")
#library(reshape)

#geniş formattan uzun formata çevirmek için
#library(reshape)

#melt() fonksiyonu ile geniş listeyi uzun listeye çevirebiliriz
#cast() ile de uzun listeyi geniş liste haline çevirebiliriz.

**Veri Setini Parçalama**

In [ ]:
#Verinin bir kısmını deney bir kısmını kontrol grubu şeklinde ayırabiliriz.

#install.packages("ISwR")
#library(IswR) paketini kullanarak bunu yapabiliriz.
data(iris)#iris datasını çağırdık
colnames(iris)= c("yaprak1","yaprak2","yaprak3","yaprak4","tür")#datada sütun adlarını değiştirdik
head(iris)#yaptığımız değişiklikleri gözlemlemek için kısa bir görünüme baktık
class(iris$`tür`)
iris$`tür`=as.factor(iris$`tür`)# tür kontrolü yaptık eğer int olsaydı diyelim faktör dönüşümü yapacaktık.

  yaprak1 yaprak2 yaprak3 yaprak4 tür
1 5.1     3.5     1.4     0.2     setosa
2 4.9     3.0     1.4     0.2     setosa
3 4.7     3.2     1.3     0.2     setosa
4 4.6     3.1     1.5     0.2     setosa
5 5.0     3.6     1.4     0.2     setosa
6 5.4     3.9     1.7     0.4     setosa

[1] "factor"

In [ ]:
#veri setimizi düzenledikten sonra parçalamaya sıra geldi. kontrol ve deney grubu olacak şekilde iki ayrı gruba ayıracağız.
nrow(iris) #bölmeden önce satır sayısını kontrol ediyorum.

kontrol_grubu =iris[1:20,]
deney_grubu = iris[21:150,]

nrow(kontrol_grubu)
nrow(deney_grubu)# nrow ile satır sayılarını kontrol ettim oluşturduğum gibi olduğunu gördüm
head(kontrol_grubu)
head(deney_grubu)# çıktıların uzun yer kaplamaması iin head fonksiyonunu kullandım

#verim parçalamdı ama parça aynı oranda değil. sadecelisteyi belli bir yerinden böldü faktörler eşit şekilde dağılmadı.

[1] 150

[1] 20

[1] 130

  yaprak1 yaprak2 yaprak3 yaprak4 tür
1 5.1     3.5     1.4     0.2     setosa
2 4.9     3.0     1.4     0.2     setosa
3 4.7     3.2     1.3     0.2     setosa
4 4.6     3.1     1.5     0.2     setosa
5 5.0     3.6     1.4     0.2     setosa
6 5.4     3.9     1.7     0.4     setosa

   yaprak1 yaprak2 yaprak3 yaprak4 tür
21 5.4     3.4     1.7     0.2     setosa
22 5.1     3.7     1.5     0.4     setosa
23 4.6     3.6     1.0     0.2     setosa
24 5.1     3.3     1.7     0.5     setosa
25 4.8     3.4     1.9     0.2     setosa
26 5.0     3.0     1.6     0.2     setosa

In [ ]:
#Listeyi parçalarken faktörlerin eşit oranda dağılmasını sağlamak amacıyla, yani dengeli dağılmasını istersek


#install.packages("caret")
#library(caret) paketimizi indirdik ve projemize ekledik.

#rastgele_dagilim = createDataPartition(iris$`tür`,p=.80,list=FALSE) verimin veri şeklinde gözükmesini istemediğim için f yaptım. p ise
#parçalama oranını göstermektedir.

#deney_grubu = iris[rastgele_dagilim,] ½80 dağılımı deney grubunu tanımdaldık
#kontrol_grubu = iris[-rastgele_dagilim] ½20 sini ise kontrol grubuna tanımladık.
#table(deney_grubu$tür) ile sorgulama yapılır, dağılım gözlemlenir.
#table(kontrol_grubu$tür) ile sorgulama yapılır

In [ ]:
#rastgele seçimi bir kaç defa tekarlayabiliriz bunun için times= değeri girmeliyiz. times=4 diyerek 4 defa farklı indislerle parçaladık.
#rastgele_dagilim = createDataPartition(iris$tür,p=.80, times= 4)
#oluşturulan 2. veri kümesini çağırmak için
#rastgele_dagilim$Resample2 kodunu kullanabiliriz. %80 %20 bölününen 2. grubu çağırırız.

In [ ]:
#Verimizi iki tekrar ile 3 bölüme ayırmak için başka bir çarğalama yöntemi vardır.
#library(TunePareto)paketi yükleyip çağırıyoruz.
#ornekparcalama = generateCVRuns(iris$tür,ntimes=2,nfold=3,leaveOneOut = FALSE,stratified = TRUE) komutu ile bunu yapabiliriz.

# **Veri Manipülasyonu**

Veri İle İlgili Düzenlemeleri Yapmak

In [3]:
#install.packages("ISwR") paketini yükleyip çağırıyoruz
#library(ISwR)
#data("energy") paket içerisinde ki energy isimli datayı çağırıyoruz.
#str(energy) ile data hakkkında özet bilgileri ediniyoruz. değişken isimleri veri sayıları ve türleri gibi
#enerji= energy kodu ile dosyanın ismini değiştirdik
#colnames(enerji) = c("1.Sütun","2. Sütun") koduyla sütun isimlerini değiştirdik